{% extends "admin/base.html" %}
{% load i18n admin_reorder_tag %}
{% load i18n static %}

{% block title %}{{ title }} | {% trans 'SuperDoCS' %}{% endblock %}
{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base_adjustment.css' %}" />
{% endblock %}

{% block branding %}
{% admin_reorder %}
<h1 id="site-name">SuperDoCS System ---
<font color=red>
    {% if user.is_superuser %}
        ADMIN
    {% else %}
        COMMISSION
    {% endif %}
</font></h1>
{% endblock %}

{% block welcome-msg %}
{% trans 'Welcome,' %}
<strong>{% firstof user.get_full_name user.get_username user.get_short_name %}</strong>.
{% endblock %}

{% block userlinks %}
{% if site_url %}
    <a href="{% url 'plan_search_page' %}">{% trans 'View site' %}</a> /
{% endif %}
{% if user.has_usable_password %}
<a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
{% endif %}
<a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}


{% block nav-global %}{% endblock %}

{% block footer %}
    <div id="footer">{{ COPYRIGHT }}.
    Please <a href="mailto:{{ ADMINEMAIL }}">contact us</a> for any questions.
    </div>
{% endblock %}
